.levomLogo {
  width: 5rem;
}

.topnav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 19%;
    background-color: #203756;
    overflow: hidden;
  }

.topnav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 .6rem;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  color: #DFE6EA;
  font-size: .7rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: .5s;
}

.topnav a:hover {
  background-color: #728B9D;
  color: #00093E;
}

.activeNav {
  background-color: #38506C;
}